#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.btn-pesquisa {
  border: none;
  background-color: #EB4646;
  width: 60px;
  height: 40px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pesquisa-img {
  height: 4em;
}

.input-pesquisa {
  width: 80%;
  height: 40px;
  border: none;
  background-color: transparent;

  color: #121213aa;
}

.input-pesquisa:focus{
  outline: none;
}

.form-pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categories-container {
  display: flex;
  justify-content: center;
}

.categories-list {
  display: flex;
  padding: 0px;
  gap: 10px;
  padding-bottom: 12px;
  overflow-x: scroll;
}

.category {
  list-style: none;
}

.btn-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  background: #EB4646;
  border: 1.5px solid #EB4646;
  border-radius: 8px;

  color: #000000aa;
}

.container-vitrini {
  display: flex;
  flex-direction: column;
}

.category-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.category-name-countainer {
  display: flex;
}

.category-iten-countainer {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  overflow-x: scroll;
}

.card-iten {
  margin: 0;
  padding: 0;
  width: 275px;
  
  list-style: none;
}

.card-img {
  width: 275px;
  height: 170px;
  border-radius: 8px;
}

.category-type {
  color: rgba(7, 7, 7, 0.667);
  font-size: 2em;
}

.iten-name, .iten-price {
  color: rgba(7, 7, 7, 0.667);
  font-size: 1em;
}

.info-iten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.iten-buy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.iten-buy > button {
  width: 70px;
  height: 25px;

  background: #EB4646;
  border: 1.5px solid #EB4646;
  border-radius: 8px;
}

